#section_three {
	display: flex;
	flex-wrap: wrap;
}



.sec_three_box {
	flex-basis: 33.33333%;
	flex-shrink: 0;
	height:662px;
}


.hover_box {
	background: $greendark;
	overflow: hidden;
	position: relative;
	a {
		text-decoration: none;
	}
	.hover_inner {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
		height: 547px;
		transition: all 600ms cubic-bezier(.17,.66,.34,.98);
		
		.flex_center {
			padding-top:30px;
			span.amount {
				display: block;
				font-family: $blanchlight;
				font-size: 200px;
				color:$brown;
			}
			span.case_type, svg {
				transition: all 200ms cubic-bezier(.17,.66,.34,.98);
				opacity: 1;
				visibility: visible;
			}
			span.case_type {
				font-family: $proximaextrabold;
				color:#fff;
				font-size:17px;
				text-transform: uppercase;
				letter-spacing: 0.25em;
				position: relative;
				z-index: 1;
				margin-top: 74px;
				display: block;
			}
			svg {
				width:80px;
				height: 106px;
				display: block;
				margin-left:auto;
				margin-right:auto;
				margin-top:-80px;
				.saints-cls-1{

				}
				.saints-cls-2 {
					fill:$greenlight;
				}
			}
		}
	}
}


.hover_read_more {
	background: #fff;
	height: 115px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0 48px;
	span.read_more_title {
		color:#58082b;
		text-transform: lowercase;
		font-family: $proximabold;
		font-size: 18px;
		letter-spacing: 0.085em;
	}
}



.red_dots_wrapper {
	.red_dots {
		width:6px;
		height:6px;
		margin:0 3px;
		border-radius: 50%;
		background: #58082b;
		display: inline-block;
	}
}

.hover_excerpt {
	background: #fff;
	transform: translateY(243px);
	font-family: $proxisemibold;
	font-weight: 600;
	min-height:239px;
	position: absolute;
	width:100%;
	bottom:0;
	left:0;
	z-index:5;
	padding:55px 45px 60px;
	color:#09343d;
	font-size: 17px;
	line-height: 32px;
	transition: all 600ms cubic-bezier(.17,.66,.34,.98);

	// opacity: 0;
	// visibility: hidden;
	span {
		max-width: 490px;
		display: block;
		margin-left:auto;
		margin-right:auto;
	}
}

.sec_three_view {
	display: none;
}


@media screen and (max-width: 1450px) {
	
	
	.sec_three_box {
		height: 510px;
	}
	
	
	.hover_box {
		.hover_inner {
			height: 425px;
			.flex_center {
				padding-top: 0px;
				span.amount {
					font-size: 175px;
				}
				span.case_type {
					margin-top: 80px;
					font-size: 16px;
				}
			}
		}
	} 
	
	
	.hover_read_more {
		height: 85px;
		padding-left:25px;
		padding-right:25px;
	}
	
	.hover_excerpt {
		padding: 20px 45px;
		min-height: 200px;
	}
	
	    
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1250px) {
	
	
	
	.hover_excerpt {
		padding: 20px 30px;
		min-height: 200px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1160px) {
	
	
	.sec_three_box {
		height: 440px;
	}
	
	
	.hover_box {
		.hover_inner {
			height: 440px;
			.flex_center {
				
				span.amount {
					font-size: 160px;
				}
				span.case_type {
					font-size: 14px;
					margin-top: 60px;
				}
				svg {
					width:77px;
					height: 100px;
				}
			}
		}
	} 
	
	
	.hover_read_more {
		display: none;
	}
	
	.hover_excerpt {
		display: none;
	}
	
	
	
	.hover_box:hover {
		.hover_inner {
			background: none;
			
		}
		.hover_excerpt {
			
		}
		.flex_center {
			span.case_type, svg {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1060px) {
	
	
	
	.sec_three_box {
		flex-basis: 50%;
		&:nth-last-of-type(-n + 2) {
			display: none;
		}
		&:nth-of-type(1) {
			order:1;
		}
		&:nth-of-type(2) {
			order:2;
		}
		&:nth-of-type(3) {
			order:4;
		}
		&:nth-of-type(4) {
			order:3;
		}
	}
	

	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	.sec_three_box {
		flex-basis: 100%;
		height:370px;
		&:nth-last-of-type(-n + 2), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
			display: none;
		}
	}
	
	
	
	.hover_box {
		.hover_inner {
			height:370px;
			.flex_center {
				
				span.amount {
					font-size: 140px;
				}
				span.case_type {
					margin-top: 65px;
				}
				svg {
					width:67px;
					height: 90px;
					margin-top: -70px;
				}
			}
		}
	} 
	
	
	
	.sec_three_view {
		display: block;
		a {
			width:100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-decoration: none;
			height:60px;
			padding:0 30px;
			span.view {
				text-transform: lowercase;
				font-family: $proximabold;
				font-size: 15px;
				color:#58082b;
				letter-spacing: 0.085em;
			}
		}
	}
	
	
	
	
	
} /* Media Query */

