

#section_two {
	position: relative;
	padding-bottom:170px;
	&:after {
		content:"";
		display: block;
		clear:both;
	}
}


.sec_two_inner {
	
}

.intro_wrapper {
	width:66.5%;
	background: url(#{$themePath}images/bg-pattern-01.jpg) top left repeat;
	float:right;
	padding: 84px 0 150px 12%;
	.intro_inner_wrapper {
		width:100%;
		margin-top:-100px;
		padding-left:95px;
		padding-right: 15%;
		h1 {
			span.large_header {
				position: absolute;
				top:145px;
				left:115px;
				font-size:426px;
				font-family: $blanchlight;
				font-weight: 300;
				font-style: normal;
				color:$red;
				line-height: 297px;
				span.lower_large_header {
					display: block;
					margin-left:215px;
					margin-top:18px;
					position: relative;
					z-index:5;
					
				}
			}
			span.small_header {
				color:#a97c50;
				font-family: $proximablack;
				text-transform: uppercase;
				letter-spacing: 0.2em;
				font-size:30px;
			}
		}
	}
}

img.baton_rouge_svg {
	width:175px;
  height: 215px;
//   margin-top:-22px;
}

img.baton_rouge_svg_mobile {
	display: none;
}


.intro_inner_content {
	font-family: $abhayabold;
	font-size:30px;
	color:#0e4c5a;
	line-height: 50px;
	margin-top:55px;
	padding-left:95px;
	p {
		margin-bottom:30px;
	}
}


a.download_button {
	background: #471046;
	font-family: $proximaextrabold;
	text-transform: uppercase;
	display: inline-block;
	color:#fff;
	text-decoration: none;
	font-size:16px;
	letter-spacing: 0.2em;
	padding:11px 40px;
	box-shadow: 5px 7px 10px 0px rgba(10, 21, 42, 0.58);
	transition: all .2s ease-in-out;
	&:hover {
		background: #a8874d;
	}
}



.sec_two_content {
	clear: both;
	max-width:1775px;
	margin:0 auto;
	padding:162px 80px;
	column-count: 3;
	column-gap: 88px;
	.col_inner {
		display: inline-block;
		width:100%;
	}
}






.sec_two_content.content {
	h2 {
		&:first-of-type {
			// margin-top:0;
		}
		// margin-top:40px;
	}
}








.video_wrapper {
	margin:34px 0 50px;
	display: inline-block;
	width:100%;
	&:hover {
		.play_button {
			.play_button_inner {
				background: $greenlight;
			}
			span.white_square {
				border:1px $brown solid;
			}
		}
	}
	.video_inner_wrapper {
		width:100%;
		height:313px;
		position: relative;
		
		.video_wistia_wrapper {
			width:100%;
			height:100%;
		}
	}
}

.play_button {
	position: absolute;
	pointer-events: none;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:5;
	display: flex;
	justify-content: center;
	background:rgba(0, 0, 0, 0.3);
	align-items: center;
	.play_button_inner {
		background: #471046;
		width:74px;
		height:130px;
		position: relative;
		z-index:5;
		display: flex;
		justify-content: center;
		align-items: center;
		top:10px;
		transition: all .2s ease-in-out;
		span.tri {
			width: 0; 
			height: 0; 
			display: block;
			border-top: 17px solid transparent;
			border-bottom: 17px solid transparent;
			border-left: 17px solid #fff;
			margin-left:7px;
		}
		
	}
	span.white_square {
		display: block;
		width:74px;
		height:130px;
		transition: all .2s ease-in-out;
		border:1px solid #fff;
		z-index: 0;
		margin:-6px 0 0 -63px;
	}
}


span.video_caption {
	text-transform: uppercase;
	color:$brown;
	font-family: $proximaextrabold;
	font-size:14px;
	letter-spacing: .25em;
	display: block;
	text-align: right;
	margin:19px 10px 30px 0;
}



.sec_two_slideshow {
	max-width:1150px;
	margin:0 auto 0px;
	
	.sec_two_single_slide {
		img {
			display: block;
			margin-left:auto;
			margin-right:auto;
		}
	}
	.slick-dots {
		bottom: -68px;
		li.slick-active {
			button {
				&:before {
					color:$brown;
				}
			}
		}
		li:hover {
			button {
				&:before {
					color:$brown;
				}
			}
		}
		li {
			margin:0;
			width:19px;
			button {
				width:19px;
				&:before {
					width:16px;
					opacity: 1;
					color: #471046;
					font-size:23px;
				}
			}
		}
	}
}



@media screen and (max-width: 1810px) {
	
.intro_wrapper {
	
	.intro_inner_wrapper {
		h1 {
			span.large_header {
				left: 65px;
				span.lower_large_header {
					
					
				}
			}
			span.small_header {
				
			}
		}
	}
}
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1660px) {
	
	
	
.intro_wrapper {
	
	.intro_inner_wrapper {
		padding-right:50px;
		h1 {
			span.large_header {
				left: 55px;
				font-size: 356px;
				line-height: 240px;
				span.lower_large_header {
					margin-top: 29px;
				}
			}
			span.small_header {
				
			}
		}
	}
}

	
	
	
	
} /* Media Query */



@media screen and (max-width: 1480px) {
	
	
	
	.sec_two_content {
		clear: both;
		max-width:1775px;
		margin:0 auto;
		padding:145px 80px;
		column-count: 2;
		column-gap: 88px;
		-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1450px) {
	
	
		
.intro_wrapper {
	width:73%;
	padding: 59px 0 120px 17%;
	.intro_inner_wrapper {
		padding-right:50px;
		padding-left: 83px;
		h1 {
			span.large_header {
				left: 59px;
				font-size: 340px;
				line-height: 240px;
				top: 110px;
				span.lower_large_header {
					margin-top: 16px;
					margin-left: 167px;
				}
			}
			span.small_header {
				font-size: 27px;
				display: block;
				margin-top:30px;
			}
		}
	}
}

	img.baton_rouge_svg {
		width:153px;
		height: 189px;
	}
	
	
	.intro_inner_content {
    margin-top: 28px;
    font-size: 26px;
    line-height: 45px;
    padding-left: 90px;
   }
   
   
   .intro_inner_content {
	   p {
		 	margin-bottom: 18px;
			}
   } 
	
	
	
} /* Media Query */


@media screen and (max-width: 1315px) {
	
	
	
	
.intro_wrapper {
	
	.intro_inner_wrapper {
		
		h1 {
			span.large_header {
				font-size: 25vw;
				line-height: 0.7;
				span.lower_large_header {
					
				}
			}
			span.small_header {
				
			}
		}
	}
}
	
	
	
} /* Media Query */




@media screen and (max-width: 1220px) {
	
	
	.intro_wrapper {
		.intro_inner_wrapper {
    	padding-right: 50px;
			padding-left: 49px;
		}
	}
	
	
	.intro_inner_content {
  	padding-left: 110px;
  }



} /* Media Query */



@media screen and (max-width: 1170px) {
	
	
	
.intro_wrapper {
	width:100%;
	float:none;
	padding: 107px 0 108px 0%;
	.intro_inner_wrapper {
		margin-top: 0px;
		max-width: 800px;
		margin-left:auto;
		margin-right:auto;
		padding-left: 80px;
		padding-right:80px;
		h1 {
			text-align: center;
			position: relative;
			z-index:5;
			span.large_header {
				position: static;
				top:0;
				left:0px;
				display: inline-block;
				margin-left:auto;
				margin-right:auto;
				position: relative;
				text-align: left;
				font-size: 280px;
				line-height: 195px;
				span.lower_large_header {
					margin-left: 150px;
					margin-top: 13px;
				}
			}
			span.small_header {
				margin-top: 56px;
				text-align: left;
			}
		}
	}
}
	
	
	img.baton_rouge_svg {
		display: none;
	}
	
	
	.intro_inner_content {
		margin-top: 35px;
		font-size: 27px;
		line-height: 46px;
		padding-left:0;
		position: relative;
		
	}
	
	
	
	img.baton_rouge_svg_mobile {
		display: block;
		width:142px;
		height: 176px;
		position: absolute;
		top:-170px;
		left:-45px;
	}
	
	
	a.download_button {
		margin-top: 13px;
		padding-left:55px;
		padding-right:55px;
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	
.intro_wrapper {
	padding: 81px 0 76px 0%;
	.intro_inner_wrapper {
		padding-left: 30px;
    padding-right: 30px;
		h1 {
			
			span.large_header {
				font-size: 160px;
				line-height: 130px;
				span.lower_large_header {
					margin-top:0;
					margin-left:0;
				}
			}
			span.small_header {
				font-size: 21px;
				line-height: 32px;
				text-align: center;
				margin-top: 16px;
				max-width:300px;
				margin-left:auto;
				margin-right:auto;
			}
		}
	}
}
	
	
	
	.intro_inner_content {
		font-size: 23px;
		line-height: 37px;
		margin-top: 63px;
		text-align: center;
		max-width: 500px;
		margin-left:auto;
		margin-right:auto;
		p {
			text-align: left;
		}
	}
	
	
	
	img.baton_rouge_svg_mobile {
		width:125px;
	  height: 154px;
	  top: -87px;
	  left:-32px;
	}


	a.download_button {
		font-size: 13px;
		padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
	}
	
	
} /* Media Query */




@media screen and (max-width: 1060px) {
	
	
	#section_two {
		padding-bottom: 85px;
	}
	
.sec_two_content {
	column-count: 1;
	column-gap: 0;
	padding: 82px 80px;
	.col_inner {
		display: inline-block;
		width:100%;
	}
}
	
	
	

	
	
	
	
.video_wrapper {
	max-width:604px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 70px;
	display: block;
	padding-left:27px;
	padding-right:27px; 
	&:hover {
		.play_button {
			.play_button_inner {
				
			}
			span.white_square {
				
			}
		}
	}
	.video_inner_wrapper {
		 height: 360px;
		
		.video_wistia_wrapper {
			
		}
	}
}

.play_button {
	
	.play_button_inner {
		
		span.tri {
			
		}
		
	}
	span.white_square {
		
	}
}


span.video_caption {
	
}


.sec_two_slideshow {
	.slick-dots {
    bottom: -45px;
	}
} 
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
		
	#section_two {
    padding-bottom: 74px;
	}
	
	
	.sec_two_content {
		padding: 56px 33px 16px;
	}
	
	
	
	
.video_wrapper {

	max-width: 100%;
	padding-left:0px;
	padding-right:0px; 
	margin-bottom: 39px;
	margin-top:55px;
	&:hover {
		.play_button {
			.play_button_inner {
				
			}
			span.white_square {
				
			}
		}
	}
	.video_inner_wrapper {
		 height: 260px;
		.video_wistia_wrapper {
			
		}
	}
}

.play_button {
	
	.play_button_inner {
		height: 96px;
		width: 67px;
		span.tri {
			border-top: 14px solid transparent;
			border-bottom: 14px solid transparent;
			border-left: 14px solid #fff;
		}
		
	}
	span.white_square {
		width: 67px;
    height: 96px;
    margin: 3px 0 0 -58px;
	}
}


span.video_caption {
	margin-right:0;
}



	
	
	
} /* Media Query */


