@font-face {
    font-family: 'AbhayaLibre-Regular';
    src: url('#{$themePath}fonts/AbhayaLibre-Regular.woff2') format('woff2'),
        url('#{$themePath}fonts/AbhayaLibre-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AbhayaLibre-ExtraBold';
    src: url('#{$themePath}fonts/AbhayaLibre-ExtraBold.woff2') format('woff2'),
        url('#{$themePath}fonts/AbhayaLibre-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AbhayaLibre-SemiBold';
    src: url('#{$themePath}fonts/AbhayaLibre-SemiBold.woff2') format('woff2'),
        url('#{$themePath}fonts/AbhayaLibre-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AbhayaLibre-Bold';
    src: url('#{$themePath}fonts/AbhayaLibre-Bold.woff2') format('woff2'),
        url('#{$themePath}fonts/AbhayaLibre-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AbhayaLibre-Medium';
    src: url('#{$themePath}fonts/AbhayaLibre-Medium.woff2') format('woff2'),
        url('#{$themePath}fonts/AbhayaLibre-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Extrabld';
    src: url('#{$themePath}fonts/ProximaNova-Extrabld.woff2') format('woff2'),
        url('#{$themePath}fonts/ProximaNova-Extrabld.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('#{$themePath}fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('#{$themePath}fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('#{$themePath}fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('#{$themePath}fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Blanch-CondensedLight';
    src: url('#{$themePath}fonts/Blanch-CondensedLight.woff2') format('woff2'),
        url('#{$themePath}fonts/Blanch-CondensedLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Black';
    src: url('#{$themePath}fonts/ProximaNova-Black.woff2') format('woff2'),
        url('#{$themePath}fonts/ProximaNova-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


