footer {
	background: url(#{$themePath}images/bg-pattern-01.jpg) top left repeat;
	width:100%;
	padding: 210px 160px 100px;
}


.footer_inner {
	background: #fff;
	width:100%;
	max-width:1500px;
	margin:0 auto;
	display: flex;
	padding:110px;
}


.footer_pic_wrapper {
	
}


.footer_pic {
	margin-left:-205px;
}

img.footer_pic_mobile {
	display: none;
}


.footer_form_wrapper {
	padding-left:10%;
	span.large_header {
		font-family: $blanchlight;
		color:$brown;
		font-size:300px;
	}
	ul {
		list-style: none;
		margin:0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		li {
			flex-basis: 48.5%;
			flex-shrink: 0;
			margin-bottom:43px;
			label {
				display: none;
			}
			input,textarea {
				border:none;
				border-bottom:1px solid #000;
				width:100%;
				text-transform: uppercase;
				font-family: $proximaextrabold;
				font-size:16px;
				padding:13px 0;
				letter-spacing: 0.085em;
				color:$brown;
			}
			textarea {
				height:140px;
			}
		}
		li#field_1_5 {
			flex-basis: 100%;
		}
	}
	input#gform_submit_button_1 {
		background: #471046;
		border:0;
		border-bottom:3px solid $brown;
		font-size:30px;
		font-family: $abhayabold;
		color:#fff;
		text-transform: lowercase;
		box-shadow: 7px 3px 10px 0px rgba(10, 21, 42, 0.58);
		padding:22px 72px;
		transition: all .2s ease-in-out;
		cursor: pointer;
		margin-top:-10px;
		letter-spacing: 0.05em;
		&:hover {
			background:$brown;
		}
	}
}



.validation_error {
	display: none;
}

.gfield_description, .validation_message {
	color:$brown;
	text-transform: uppercase;
	font-family: $proximabold;
	font-size: 13px;
	letter-spacing: 0.15em;
	margin-top:5px;
}




// Placeholders

.footer_form_wrapper {
	
	ul {
		li ::-webkit-input-placeholder {
  		color: #cccccc;
 		}
 		li ::-moz-placeholder {
  		color: #cccccc;
 		}
 		li :-moz-placeholder {
   		color: #cccccc;
  	}
		li :-ms-input-placeholder {
      color: #cccccc;
     }
    li ::-moz-placeholder {
      opacity: 1;
    }
   
  }

}



span.required_title {
	float:right;
	color:$brown;
	text-transform: lowercase;
	font-family: $abhayabold;
	font-size:22px;
	margin-top:-48px;
}




// lower footer


.lower_footer {
	justify-content: space-between;
	margin-top:125px;
	margin-left:auto;
	margin-right:auto;
	max-width:1475px;
	
}


.lower_logo {
	flex-shrink: 0;
  flex-basis: 322px;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		width:322px;
		
	}
}


.lower_footer {
	display: flex;
	padding:0 105px 0 65px;
	a {
		text-decoration: none;
		color:#000;
		font-family:$proximareg;
		line-height: 25px;
		font-size:18px;
		display: block;
		transition: all .2s ease-in-out;
		&:hover {
			color:$red;
		}
	}
}


.footer_address_wrapper {
	flex-basis:265px;
	flex-shrink: 0;
	padding-left:20px;
	a.footer_address_link {
		padding-bottom:45px;
		br {
			display: none;
		}
		
	}
}

.social_media_wrapper {
	flex-basis:145px;
	flex-shrink: 0;
	a.social_link {
		text-transform: lowercase;
	}
}


span.footer_title {
	display: block;
	color:$brown;
	text-transform: uppercase;
	font-family: $proximablack;
	font-size: 17px;
	letter-spacing: 0.15em;
	margin-bottom:13px;
}



.copyright_wrapper {
	width:100%;
	background:$greendark;
}

.copyright_inner {
	max-width:1500px;
	margin-left:auto;
	margin-right:auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height:115px;
	padding-left:45px;
	padding-right:45px;
	ul {
		list-style: none;
		margin:0;
		br {
				display: none;
			}
		li {
			display: inline-block;
			color:#fff;
			font-family: $proxisemibold;
			font-size: 15px;
			letter-spacing: 0.085em;
			text-transform: uppercase;
			margin-right:13px;
			
			a {
				color:#fff;
				text-decoration: none;
				transition: all .2s ease-in-out;
				&:hover {
					color:$brown;
				}
			}
		}
	}
	.ilwayer {
		width:350px;
		height:auto;
	}
}


@media screen and (max-width: 1590px) {
	
	
	.footer_inner {
		padding: 110px 70px;
	}
	
	    
	
	.footer_form_wrapper {
    padding-left: 6%;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1650px) {
	
	
	footer {
		padding: 176px 77px;
	}
	
	.footer_inner {
		padding: 95px 70px;
	}
	
	.footer_pic_wrapper {
	
		img.footer_pic {


		}
	}
	
	
	.footer_form_wrapper {
		padding-left: 67px;
	
		span.large_header {
			font-size:270px;
			display: block;
			margin-bottom:14px;
		}
	}
	
	
} /* Media Query */




@media screen and (max-width: 1350px) {
	
	footer {
		padding: 85px 77px;
	}
	
	.footer_inner {
		padding: 112px 46px 65px;
		position: relative;
		display: block;
	}
	
	
	.footer_pic_wrapper {
		position: absolute;
		top:60px;
		left:0;
	
		width:36%;
		img.footer_pic {
			max-width:100%;
			height:auto;

		}
	}
	
	
	img.footer_pic_mobile {
		display: block;
		margin-left: -80px;
		height:253px;
	}
	
	
	img.footer_pic {
		display: none;
	}
		
	
	.footer_form_wrapper {
		flex-basis: auto;
		width:100%;
		padding-left:0;
		span.large_header {
			font-size:170px;
			margin-bottom:70px;
			margin-left:215px;
		}
		input#gform_submit_button_1 {
			font-size:27px;
			padding: 14px 72px;
			margin-top:5px;
		}
	}
	
	
} /* Media Query */







@media screen and (max-width: 1258px) {
	
	
	.footer_inner {
		max-width:800px;
	}
	
	
	
	
	.lower_footer {
		max-width:550px;
		flex-wrap: wrap;
		margin-top: 72px;
		padding-left:0;
		padding-right:0;
	
	}
	
	
	.lower_logo {
		flex-basis: 100%;
		margin-bottom: 65px;
	}
	
	
	.footer_address_wrapper {
		padding-left:0;
	}
	

	.footer_address_wrapper {
		a.footer_address_link {
			padding-bottom: 25px;
		}
	} 
	
	
	
	
	
	.copyright_inner {
		flex-direction: column;
		justify-content: center;
		ul {
			li {
				font-size:14px;
			}
		}
		.ilwayer {
			padding-top:10px;
			width:320px;
		}
	}
	
	    
	
	
} /* Media Query */



@media screen and (max-width: 858px) {
	
	footer {
    padding: 85px 77px 55px;
	}
	
	
	.footer_inner {
		
	}
	
	
	
	
	.lower_footer {
		
	
	}
	
	
	.lower_logo {
		 margin-bottom: 48px;
		img {
			width:235px;
		}
	}
	



	.footer_address_wrapper {
		flex-basis: 100%;
		text-align: center;
		a.footer_address_link {
			padding-bottom: 34px;
			br {
				display: inline-block;
			}
		}
	} 
	
	
	
	.social_media_wrapper {
		flex-basis: 100%;
		text-align: center;
		margin-top: 34px;
	}
	
	
	
	
	
	.copyright_inner {
		height:auto;
		padding:28px 5px;
		ul {
		  max-width: 100%;
			text-align: center;
			br {
				display: inline;
			}
			li {
				font-size: 13px;
				line-height: 24px;
				display: inline;
				&:last-of-type {
					margin-right:0;
				}
			}
		}
		.ilwayer {
			width:243px;
			margin-top:8px;
		}
	}

	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	footer {
    padding: 50px 16px;
	}
	
	
	.footer_inner {
		padding: 42px 27px 57px;
	}
	
	.footer_pic_wrapper {
		display: none;
	}
	
	
	.footer_form_wrapper {
		text-align: center;
		span.large_header {
			margin-left:0;
			font-size:120px;
			text-align: center;
			margin-bottom: 6px;
		}
		ul {
			justify-content: center;
/*
			br {
				display: inline-block;
			}
*/
		li {
			flex-basis: 100%;
			margin-bottom: 34px;
			label {
				
			}
			input,textarea {
				font-size:14px;
				padding: 11px 0;
			}
			textarea {
				height: 114px;
			}
		}
		li#field_1_5 {
			
		}
	}
	input#gform_submit_button_1 {
		margin-top:35px;
		font-size:23px;
		display: inline-block;
		margin-left:auto;
		margin-right:auto;
		&:hover {
			
		}
	}
	}
	
	
	span.required_title {
		float:left;
		margin-top:-110px;
		display: block;
		font-size:17px;
	}
	
	
.gfield_description, .validation_message {
	text-align: left;
}

	
	
	
} /* Media Query */

	
	
	
	
	
 
 	


