header {
	display: flex;
	align-items: center;
	background: #fff;
	box-shadow: 0px 7px 10px 0px rgba(10, 21, 42, 0.17);
	position: fixed;
	top:0;
	left:0;
	width:100%;
	z-index:100;
}


.header_left {

	flex-basis: 90px;
	flex-shrink: 0;

	//width:93px;
	background: #471046;
	padding: 23px 23px 20px;
}


.menu_wrapper {
	color:#fff;
	span.menu_bars {
		width: 96%;
		margin-left:auto;
		margin-right:auto;
		height:3px;
		background: #fff;
		display: block;
		margin-bottom: 8px;
	}
	span.menu_title {
		text-transform: uppercase;
		font-family:$proximaextrabold;
		font-size:13px;
		letter-spacing: .25em;
		padding-left:.25em;
		display: block;
		padding-top:6px;
		text-align: center;
	}
}

.header_center {
	flex-grow:1;
	display: flex;
	justify-content: space-between;
}



header#sticky_header.visible {
	

	a.logo {
		opacity: 0;
		visibility: hidden;
	}
}



a.logo {
	opacity: 1;
	visibility: visible;
	transition: all 300ms ease-in-out;
	margin-left:28px;
	img {
		width:222px;
		height:auto;	
	}
}

.phone {
	text-align: right;
	margin-right:27px;
	a,span {
		display: block;
		color:#2e6773;
		text-decoration: none;
	}
	a {
		font-size: 35px;
		font-family: $abhayabold;
	}
	span {
		font-family: $proximaextrabold;
		text-transform: uppercase;
		font-size:13px;
		letter-spacing: .25em;
		margin-top:2px;
	}
}


.header_right {
	flex-basis: 265px;
	flex-shrink: 0;
	margin-right:20px;
}


.email_wrapper {
	border:2px solid $brown;
	padding:5px 15px 5px 12px;
	transition: all .2s ease-in-out;
	&:hover {
		background: $brown;
		span.free_consultation {
			color:$red;
		}
		svg {
			.email-cls-1,.email-cls-2{ 
				
				stroke:#fff;
				
			}
		}
	}
	a {
		display: block;
		width:100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-decoration: none;
	}
	svg {
		width:52px;
		display: block;
		height: 46px;
		.email-cls-1,.email-cls-2{ 
			fill:none;
			stroke:#ad7d45;
			stroke-width:2px;
			transition: all .2s ease-in-out;
		}
		.email-cls-2 {
			stroke-linejoin:bevel;
		}
	}
	span.free_consultation {
		color:$brown;
		text-transform: lowercase;
		font-family: $proximaextrabold;
		font-size: 18px;
		letter-spacing: 0.085em;
		text-decoration: none;
		display: block;
		transition: all .2s ease-in-out;
	}
}



.mobile_logo {
	display: none;
}


#sticky_mobile_header {
	display: none;
}


   


@media screen and (max-width: 1060px) {
	
	
	.header_center {
		justify-content: flex-end;
	}
	
	.header_right {
		flex-basis: auto;
		margin-right:13px;
	}
	
	a.logo {
		display: none;
	}
	
	.phone {
    margin-right: 19px;
    a {
	    font-size: 30px;
    }
    span {
	    margin-top: 3px;
    }
	}
	
	
.email_wrapper {
	
	svg {
		
	}
	span.free_consultation {
		display: none;
	}
}

.menu_wrapper {
	span.menu_title {
		// color:#a8874d;
	}
} 
	
	
	
} /* Media Query */



 @media screen and (max-width: 767px) {
	 
	 
	 
	 .header_left {
	    flex-basis: auto;
	    width:97px;
	    padding: 23px 20px 20px;
    }
	 
	 
	 
	 
	 
	 
	 #sticky_mobile_header.visible {
		 opacity: 1;
		 visibility: visible;
	 }
	 
	 
	 
	 
	 #sticky_mobile_header.menu_opened {
		 opacity: 1;
		 visibility: visible;
		 display: none;
	 }
	 
	 
	 #sticky_mobile_header.visible.menu_opened {
		 opacity: 1;
		 visibility: visible;
		 display: flex;
	 }
	 
	 
	 
	 #sticky_mobile_header {
		 width:100%;
		 height: 89px;
		 position: fixed;
		 transform: translate3d(0,0,0);
		 top:0;
		 left:0;
		 z-index:200;
		 display: block;
		 opacity: 0;
		 visibility: hidden;
		 transition: all .2s ease-in-out;
		 display: flex;
		 box-shadow: 0px 3px 10px 0px rgba(10, 21, 42, 0.17);
		 .sticky_menu {
			 width: 97px;
			 padding:21px;
			 background:#471046;
			 ;
			 .menu_wrapper {
				 span.menu_title {
					 
				 }
			 }
		 }
	 }
	 
	 
	 
	 .mobile_phone_wrapper {
		 flex-grow:1;
		 background: #e9eaeb;
		 padding-top:12px;
		 text-align: center;
		 .mobile_phone {
			 
			 svg {
				 width:55px;
				 height:67px;
				 
			 }
		 }
	 }
	 
	 
	 .mobile_email_wrapper {
		 flex-grow:1;
		 background: #fff;
		 text-align: center;
		 padding-top:25px;
		 svg {
			 width:61px;
			 .email-cls-1,.email-cls-2{ 
				 fill:none;
				 stroke:#ad7d45;
				 stroke-width:2px;
				 transition: all .2s ease-in-out;
				}
		 }
	 }
	 
	 
	 
	 
	 
	 
	 header {
		 position: relative;
	 }
	 
	 a.mobile_logo {
	 	display: block;
	 	text-align: center;
	 	padding:25px 10px 14px;
	 	img {
		 	width:173px;
	 	}
	}
	 
	 
	 .header_left {
		 height: 91px;
		 padding-bottom:0;
	 }
	 
	 .header_center {
		 background: #320931;
		 height:91px;
		 align-items: center;
	 }
	 
	 .header_right {
		 display: none;
		 
	 }
	 
	 
	 .phone {
    
    a {
	   color:#c99456;
    }
    span {
	    color:#fff;
    }
	}
	
	
	.menu_wrapper {
		span.menu_bars {
			
		}
		span.menu_title {
			padding-top: 4px;
		}
	}

	 
	 
	 
	 
 } /* Media Query */