.contact_page_wrapper {
	display: flex;
	
}

.contact_left {
	flex-basis: 50%;
	flex-shrink: 0;
	padding: 195px 70px 123px 5%;
	.contact_left_inner {
		width:100%;
		// float:right;
		max-width:755px;
		h1.contact_header {
			font-weight: 300;
			font-style: normal;
			font-family: $blanchlight;
			font-size: 250px;
			line-height: 160px;
			color:$brown;
			display: block;
			margin-bottom:43px;
		}
		span.firm_title {
			display: block;
			font-family: $proximaextrabold;
			text-transform: uppercase;
			color:#780c3d;
			letter-spacing: 0.3em;
			font-size: 20px;
			margin-bottom:12px;
			&:before {
				content:"";
				width:55px;
				height:67px;
				display: inline-block;
				background: url(#{$themePath}images/new-saints2.svg) top left no-repeat;
				position: relative;
				top:13px;
				margin-right:7px;
			}
		}
		a.contact_page_address {
			font-family:$proximareg;
			font-size: 24px;
			line-height: 30px;
			display: inline-block;
			color:#2e6773;
			text-decoration: none;
			max-width: 334px;
			transition: all .2s ease-in-out;
			margin-left: 59px;
			&:hover {
				color:#471046;
			}
		}
		a.contact_page_tel {
			color:#000;
			display: block;
			text-decoration: none;
			font-size:37px;
			font-family: $abhayabold;
			display: block;
			margin-top: 21px;
			margin-left: 59px;
			transition: all .2s ease-in-out;
			&:hover {
				color:#471046;
			}
		}
		a.contact_page_contact_button {
			background: #471046;
			color:#fff;
			margin-left: 59px;
			font-size: 17px;
			letter-spacing: 0.15em;
			text-decoration: none;
			font-family: $proximablack;
			text-transform: lowercase;
			border-bottom:3px solid $brown;
			padding:23px 45px;
			display: inline-block;
			box-shadow: 6px 7px 10px 0px rgba(10, 21, 42, 0.58);
			margin-top:25px;
			transition: all .2s ease-in-out;
			&:hover {
				background: $brown;
			}
		}
		iframe {
			width:100% !important;
			max-width:555px;
			margin-top:53px;
			height:271px !important;
			display: block;
			margin-left: 59px;
		}
	}
}





.contact_right {
	flex-basis: 50%;
	flex-shrink: 0;
/*
	background: url(#{$themePath}images/int-contact-image.jpg) top right no-repeat;
	background-size:cover;
*/
}



@media screen and (max-width: 1690px) {
	
	
	
	
	
	.contact_left {
		padding: 112px 70px 123px 5%;
		.contact_left_inner {
			h1.contact_header {
				font-size: 196px;
			}
		}
	} 
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1485px) {
	
	
	
	
	.contact_left {
		flex-basis: 53%;
	}
	
	
	.contact_right {
		flex-basis: 47%;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1370px) {
	
	.contact_left {
		flex-basis: 57%;
	}
	
	
	.contact_right {
		flex-basis: 43%;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1300px) {
	
	
.contact_left {
	
	.contact_left_inner {
		
		h1.contact_header {
			font-size: 170px;
		}
	}
}
	
	
} /* Media Query */


@media screen and (max-width: 1250px) {
	
	
	
	
	
.contact_left {
	flex-basis: 60%;
	.contact_left_inner {
		
		h1.contact_header {
			
		}
		a.contact_page_address {
			
		}
		a.contact_page_tel {
			
		}
		a.contact_page_contact_button {
			
			&:hover {
				
			}
		}
		iframe {
			
		}
	}
}



.contact_right {
	flex-basis: 40%;
	background-position-x: -400px;
}
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1195px) {
	
	
	.contact_left {
		flex-basis: 65%;
	}
	
	
	.contact_right {
		flex-basis: 40%;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1060px) {
	



.contact_left {
	flex-basis: 100%;
	padding: 78px 45px;
	.contact_left_inner {
		max-width: 100%;
		float:none;
		text-align: center;
		a.contact_page_tel, a.contact_page_address, a.contact_page_contact_button {
			margin-left:0;
		}
		h1.contact_header {
			line-height: 93px;
			font-size: 110px;
			margin-bottom: 7px;
		}
		iframe {
			margin-left:auto;
			margin-right:auto;
		}
		span.firm_title {
			&:before {
				margin-left:auto;
				margin-right:auto;
				display: block;
				z-index:-1;
				top:23px;
			}
		}
	}
}	
	
.contact_right {
	display: none;
}




} /* Media Query */




@media screen and (max-width: 767px) {
	
	
	
.contact_left {
	
	padding: 58px 24px;
	.contact_left_inner {
		
		h1.contact_header {
			font-size: 100px;
			line-height: 90px;
		}
		iframe {
			
		}
	}
}
	
	
} /* Media Query */



@media screen and (max-width: 400px) {
	
	
.contact_left {
	
	
	.contact_left_inner {
		
		h1.contact_header {
			font-size: 89px;
			line-height: 80px;
		}
		iframe {
			
		}
	}
}

	
	
	
	
	  
	
	
	
	
} /* Media Query */