.profile_top_wrapper {
	width:100%;
	position: relative;
// 	margin-bottom:120px;
	
	// overflow-x: hidden;
	&:after {
		content:"";
		width:100%;
		max-width: 1306px;
		height:830px;
		position: absolute;
		top:0;
		display: block;
		right:0;
		background: url(#{$themePath}images/bg-pattern-01.jpg) top left repeat;
	}
}

.profile_inner {
	max-width:1805px;
	margin-left:auto;
	margin-right:auto;
	padding-top:120px;
	padding-left:100px;
	padding-right:100px;
	width:100%;
	position: relative;
	z-index: 5;
	display: flex;
	justify-content: space-between;
}

.profile_header_wrapper {
	margin-right:40px;
	margin-bottom: 269px;
	h1.bio_header {
		color:$brown;
		font-family: $blanchlight;
		font-size:325px;
		font-weight: 300;
		font-style: normal;
		line-height: 270px;
		span {
			display: block;
		}
		span.upper_header {
		
		}
		span.lower_header {
		
		}
	}
}


span.bio_position {
	display: block;
	color:#780c3d;
	text-transform: uppercase;
	font-size: 20px;
	font-family: $proximaextrabold;
	letter-spacing: 0.3em;
	text-align: left;
	&:before {
		content:url(#{$themePath}images/new-saints2.svg);
		width:55px;
		height: 71px;
		display: inline-block;
		position: relative;
		top:20px;	
		margin-right:13px;
	}
}


.profile_image_wrapper {

	img {
		max-width: 100%;
		height:auto;
		
	}
}


.profile_container {
	max-width:1805px;
	
	margin-left:auto;
	padding:0px 100px 80px;
	margin-right:auto;
	
	width:100%;
	display: flex;
	justify-content: space-between;
}


.profile_content {
	flex-grow: 1;
	max-width:855px;
}

.profile_sidebar {
	flex-basis: 598px;
	flex-shrink: 0;
	margin-top:4px;
	padding-left:90px;
	span.profile_sidebar_title {
		text-transform: uppercase;
		font-family: $proximaextrabold;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.15em;
		display: block;
		margin-bottom: 33px;
		color:#780c3d;
		max-width: 415px;
	}
	ul {
		max-width: 415px;
		margin-bottom:57px;
		li {
			margin-bottom:25px;
			font-size: 18px;
			line-height: 20px;
			background-position-y:6px;
		}
	}
}


.vcf_wrapper {
	&:hover {
		a {
			background: $brown;
			svg#vcf {
				.vcf-cls-1 {
					fill:#fff;
				}
			}
			span.download_vcf {
				color:#fff;
			}
		}
	}
	a {
		border:2px solid $brown;
		max-width:275px;
		padding:10px 22px;
		height:65px;
		margin-bottom: 55px;
		display: block;
		background: transparent;
		transition: all 300ms ease-in-out;
	}
	svg,span {
		display: inline-block;
	}
	svg#vcf {
		width:30px;
		height:35px;
		margin-top:3px;
		.vcf-cls-1 {
			fill:#ad7d45;
			transition: all 300ms ease-in-out;
		}
	}
	span.download_vcf {
		text-transform: uppercase;
		color:$brown;
		font-family: $proximaextrabold;
		font-size: 16px;
		letter-spacing: 0.15em;
		position: relative;
		top:-11px;
		margin-left:19px;
		transition: all 300ms ease-in-out;
	}
}






@media screen and (min-width: 1950px) {
	
	
.profile_top_wrapper {
	&:after {
		width:70%;
		max-width:100%;
	}
}

	
} /* Media Query */


@media screen and (max-width: 1880px) {
	
	
	
.profile_top_wrapper {
	&:before {
		content:"";
		width:450px;
		position: relative;
		z-index: 1;
		height:500px;
		background: #fff;
		display: block;
		position: absolute;
		top:0;
		left:0;
		height:830px;
	}
	&:after {
		max-width:1415px;
	}
}





	
	
	
} /* Media Query */


@media screen and (max-width: 1780px) {
	
	
	
	.profile_header_wrapper {
		margin-right:10%;
	}
	
	
	
	.profile_inner {
		justify-content: flex-start;
	}
	
	

	
} /* Media Query */


@media screen and (max-width: 1583px) {
	




.profile_top_wrapper {
	&:before {
		height:790px;
		width: 555px;
	}
	&:after {
		height:790px;
	}
}


	
	.profile_inner {
		padding-top: 94px;
		padding-right:0;
		//justify-content: flex-start;
	}



 .profile_header_wrapper {
   margin-bottom: 207px;
//   flex-grow: 1;
   }
	
	
	.profile_image_wrapper {
		margin-top:0px;
		margin-right:65px;
		img {
			max-width: 485px;
		}
	}
	

	
	
	span.bio_position {
		margin-top: -10px;
	}
	
	 
	 
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1450px) {
	
	
.profile_top_wrapper {
	&:before {
		
	}
	&:after {
		
	}
}

	
	
	
	
	
	.profile_content {
		max-width: 705px;
		padding-right:100px;
		
	}
	
	
	.profile_sidebar {
		padding-left: 0px;
		flex-basis: 436px;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1395px) {
	

	
	.profile_header_wrapper {
		margin-bottom: 145px;
		h1.bio_header {
			font-size: 290px;
			line-height: 230px;
		}
	} 
	
	
	
		
	.profile_header_wrapper {
		margin-right:60px;
	}
	
	
	
/*
	.profile_inner {
		justify-content: flex-start;
	}
	
*/
	
	
} /* Media Query */



@media screen and (max-width: 1280px) {
	
	
/*
.profile_top_wrapper {
	&:before {
		display: none;
	}
	&:after {
		width:100%;
		max-width:100%;
		height: 944px;
	}
}


.profile_inner {
	display: block;
	padding-top: 66px;
	padding-left:75px;
	padding-right:75px
}


.profile_header_wrapper {
	text-align: center;
	margin:0;
		h1.bio_header {
			font-size: 185px;
			line-height: 150px;
		}
	} 
	
	
	span.bio_position {
		text-align: center;
		text-align: center;
		margin-top: -16px;
		&:before {
			content:url(#{$themePath}images/new-saints3.svg);
			margin-left:auto;
			margin-right:auto;
			display: block;
			z-index: -1;
			top:37px;
		}
	}
	
	
	.profile_image_wrapper {
    margin-top: 55px;
    img {
	    display: block;
	    margin-left:auto;
	    margin-right:auto;
    }
	}
*/




.profile_top_wrapper {
	&:before {
		display: none;
		
	}
	&:after {
		left:0;
		max-width:605px;
		height: 462px;
	}
}

.profile_inner {
  padding-top: 53px;
  padding-left: 43px;
  padding-right: 43px;
  justify-content: flex-start;
}

.profile_header_wrapper {
	flex-shrink: 0;
	h1.bio_header {
		font-size:140px;
		line-height: 115px;
	}
} 


.profile_image_wrapper {
    float:left;
    margin-top: 6px;
//     width: 100%;
    img {
	    display: block;
	    max-width:270px;
	    margin-left:auto;
	    margin-right:auto;
    }
	}


span.bio_position {
	font-size:18px;
	letter-spacing: 0.15em;
	&:before {
		content: url(/wp-content/themes/murphylaw/images/new-saints3.svg);
		width: 45px;
    // height: 71px;
	}
}


/* */




	
	.profile_container {
		margin:60px 0 0;
		padding-left:50px;
		padding-right:50px;
		display: block;
		
    padding-bottom: 63px;
	}
	
	
	.profile_content {
		max-width:100%;
		padding-right:0;
	}
	
	
	.profile_sidebar {
		margin:71px 0 0;
		span.profile_sidebar_title {
			max-width: 100%;
			margin-bottom: 30px;
		}
		ul {
			max-width: 100%;
		}
	}
	
	
	
	.vcf_wrapper {
		a {
			 margin-bottom: 74px;
		}
	}
	
	
	
} /* Media Query */





@media screen and (max-width: 767px) {
	
	
	
	
	
	.profile_top_wrapper {
		&:after {
			height:600px;
			max-width: 100%;
		}
	}
	
	.profile_inner {
		padding-left:25px;
		padding-right:25px;
		display: block;
		text-align: center;
	}
	
	
	.profile_header_wrapper {
		margin-right:0;
		margin-bottom: 61px;
		
		 h1.bio_header {
			 font-size:100px;
			 line-height: 90px;
		 }
	}
	
	
	span.bio_position {
		font-size: 18px;
		letter-spacing: 0.15em;
		text-align: center;
		margin-top: -21px;
		&:before {
			margin-left:auto;
			margin-right:auto;
			display: block;
			top: 37px;
			width:58px;
			z-index: -1;
		}
	}
	
	
	
	
	

	
	.profile_container {
		padding-left:25px;
		padding-right:25px;
		margin: 48px 0 0;
		padding-bottom: 25px;
	}
	
	
	.profile_sidebar {
		margin: 57px 0 0;
	}
	
	
	
	.profile_image_wrapper {
		float:none;
		margin-right:0;
	}
	
	
	
	.vcf_wrapper {
		a {
			 margin-left:auto;
			 margin-right:auto;
		}
	}
	
	
	
} /* Media Query */
