.practice_areas_directory {
	max-width:1555px;
	margin:0 auto;
	padding-bottom:20px;
	ul {
		list-style: none;
		margin:0;
		li {
			a {
				display: block;
			}
		}
	}
	ul#menu-pa-sidebar {
		
		> li {
				
				> a {
						color:$red;
						font-size: 43px;
						line-height: 45px;
						font-family: $abhayasemibold;
						margin-bottom:33px;
						margin-left:3%;
						position: relative;
						padding-left:80px;
						&:before {
							content:url(#{$themePath}images/new-saints2.svg);
							width:60px;
							height:75px;
							display: block;
							position: absolute;
							top:-23px;
							left:-10px;
						}
				}
		}
	}
	ul.sub-menu {
		display: flex;
		flex-wrap:wrap;
		margin-bottom:165px;
		>li:hover {
			border-bottom:1px solid transparent;
		}
		> li {
			flex-basis: 27%;
			flex-shrink:0;
			margin:0 3%;
			border-bottom:1px solid $brown;
			transition: all 350ms ease-in-out;
			
				> a {
						text-transform: uppercase;
						text-decoration: none;
						color:#12414a;
						font-family:$proximaextrabold;
						letter-spacing: 0.15em;
						// padding:34px 0;
						height:81px;
						font-size:16px;
						transition: all 350ms ease-in-out;
						display: flex;align-items: center;
						&:hover {
							background: #471046;
							color:#fff;
							width:calc(100% + 25px);
							margin-left:-25px;
							padding-left:25px;
							box-shadow: 6px 7px 10px 0px rgba(10, 21, 42, 0.58);
						}
					}
				}
			}
		}
		
		



@media screen and (max-width: 1390px) {
			
			
			
			
.practice_areas_directory {
	
	ul {
		
		li {
			a {
				
			}
		}
	}
	ul#menu-pa-sidebar {
		
		> li {
				
				> a {
						
						&:before {
							
						}
				}
		}
	}
	ul.sub-menu {
		margin-bottom: 135px;
		>li:hover {
			
		}
		> li {
				flex-basis: 44%;
					margin:0 3%;
				> a {
						
						&:hover {
							
						}
					}
				}
			}
		}
		
		
			
			
			
			
} /* Media Query */




@media screen and (max-width: 1060px) {
	
	
	
.practice_areas_directory {
	
	ul {
		
		li {
			a {
				
			}
		}
	}
	ul#menu-pa-sidebar {
		
		> li {
				
				> a {
						font-size: 39px;
						padding-left: 60px;
						margin-left:0;
						&:before {
							width:50px;
							top: -16px;
						}
				}
		}
	}
	ul.sub-menu {
		margin-bottom: 118px;
		>li:hover {
			
		}
		> li {
				flex-basis: 100%;
				margin:0;
				&:hover {
					border-bottom:1px solid $brown;
				}
				> a {
						color:#12414a;
						&:hover {
							background: transparent;
							width:100%;
							margin-left:0;
							padding-left:0;
							box-shadow: none;
							color:#12414a;
						}
					}
				}
			}
		}
		
		
		
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	
	
.practice_areas_directory {
	max-width:550px;
	ul {
		
		li {
			a {
				
			}
		}
	}
	ul#menu-pa-sidebar {
		
		> li {
				
				> a {
						font-size: 36px;
						padding-left: 60px;
						margin-bottom: 17px;
						line-height: 36px;
						&:before {
							width:50px;
							top: -16px;
						}
				}
		}
	}
	ul.sub-menu {
		margin-bottom: 72px;
		>li:hover {
			
		}
		> li {
				
				> a {
						height: 68px;
						font-size: 15px;
						&:hover {
							
						}
					}
				}
			}
		}
		
		
	
	
	
	
	
	
} /* Media Query */