
@media screen and (min-width: 1600px) {
	
	
	
	
	
	
	

	
	

	
	
	
	
} /* Media Query */


@media screen and (min-width: 1450px) {
	
	
	
	.single_case_results_page {
		&:hover {
			&:after {
				height:590px;
				top:0px;
				
				animation-name: fade, cr_grow;
				animation-duration: 300ms, 700ms;
				animation-fill-mode: both;
				animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
			}
		}
	}
	
	
	
	
	
} /* Media Query */



@media screen and (min-width: 1160px) {
	
	
	
	.hover_box:hover {
		.hover_inner {
			background: #3e0e3d;
		}
		.hover_excerpt {
			transform: translateY(0px);
		}
		.flex_center {
			span.case_type, svg {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	


} /* Media Query */