	
	// Keyframes are separate because they need to be outside of media queires in order to work in I.E. 11
	
	
	
	
	@keyframes fade {
	  from {
	    opacity: 0;
	    visibility: hidden;
	 	}
	
	  to {
	    opacity: 1;
	    visibility: visible;
	   }
	}
	
	
	
	
	
	
	
	
	
	@keyframes excerpt_move {
	  from {
	    transform: translateY(0px);
	 	}
	
	  to {
	    transform: translateY(-238px);
	   }
	}
	
	
	
	
	
		
	@keyframes cr_grow {
	  from {
	    height:590px;
	    transform: translateY(0);
	 	}
	
	  to {
	   height:644px;
	   transform: translateY(-27px);
	  }
	}
	
	
	
	
	
	@keyframes menu_move_down {
	  from {
	    
	 		transform: translateY(-100%);
	  }
	
	  to {
	    transform: translateY(0%);
	    
	  }
	}
	
	
	@keyframes menu_move_up {
	  from {
	    
	 		transform: translateY(100%);
	  }
	
	  to {
	    transform: translateY(0%);
	    
	  }
	}
	
	
	
	
	@keyframes menu_move_out {
	  from {
	    
	 		transform: translateY(0%);
	  }
	
	  to {
	    transform: translateY(-100%);
	    
	  }
	}
	
	
	
		@keyframes menu_move_out_two {
	  from {
	    
	 		transform: translateY(0%);
	  }
	
	  to {
	    transform: translateY(100%);
	    
	  }
	}
	
	
	
	@keyframes menu_col_move {
	  from {
	    
	 		transform: translateY(-110px);
	  }
	
	  to {
	    transform: translateY(0%);
	    
	  }
	}
	
	
	@keyframes menu_form_move {
	  from {
	    
	 		transform: translateY(110px);
	  }
	
	  to {
	    transform: translateY(0%);
	    
	  }
	}
	
	
	
	
	
	
	
	