	
	// Keyframes are separate because they need to be outside of media queires in order to work in I.E. 11
	
	
	
	
	@keyframes fade {
	  from {
	    opacity: 0;
	    visibility: hidden;
	 	}
	
	  to {
	    opacity: 1;
	    visibility: visible;
	   }
	}
	
	
	
	@keyframes menu_wrapper_move {
	  from {
	    transform: translateY(-100px);
	 	}
	
	  to {
	    transform: translateY(0px);
	   }
	}
	
	
	
	
	
	
	
	
	@keyframes title_move {
	  from {
	    transform: translateY(-45px);
	 	}
	
	  to {
	    transform: translateY(0px);
	   }
	}
	
	
	@keyframes button_move {
	  from {
	    transform: translateY(-25px);
	 	}
	
	  to {
	    transform: translateY(0px);
	   }
	}
	
	
	
	
	
	@keyframes excerpt_move {
	  from {
	    transform: translateY(0px);
	 	}
	
	  to {
	    transform: translateY(-238px);
	   }
	}
	
	
	
	
	
		
	@keyframes cr_grow {
	  from {
	    height:590px;
	    transform: translateY(0);
	 	}
	
	  to {
	   height:644px;
	   transform: translateY(-27px);
	  }
	}
	
	
	
	
	
	@keyframes menu_move_down {
	  from {
	    
	 		transform: translateY(-100%);
	  }
	
	  to {
	    transform: translateY(0%);
	    
	  }
	}
	
	
	@keyframes menu_move_up {
	  from {
	    
	 		transform: translateY(100%);
	  }
	
	  to {
	    transform: translateY(0%);
	    
	  }
	}
	
	
	
	
	@keyframes menu_move_out {
	  from {
	    
	 		transform: translateY(0%);
	  }
	
	  to {
	    transform: translateY(-100%);
	    
	  }
	}
	
	
	
		@keyframes menu_move_out_two {
	  from {
	    
	 		transform: translateY(0%);
	  }
	
	  to {
	    transform: translateY(100%);
	    
	  }
	}
	
	
	
	@keyframes menu_col_move {
	  from {
	    
	 		transform: translateY(-110px);
	  }
	
	  to {
	    transform: translateY(0%);
	    
	  }
	}
	
	
	@keyframes menu_form_move {
	  from {
	    
	 		transform: translateY(110px);
	  }
	
	  to {
	    transform: translateY(0%);
	    
	  }
	}
	
	
	@keyframes sp_box_one_move {
	  from {
	    
	 		transform: translateY(-30px);
	  }
	
	  to {
	    transform: translateY(0%);
	    
	  }
	}
	
	
	@keyframes sp_box_two_move {
	  from {
	    
	 		transform: translateY(30px);
	  }
	
	  to {
	    transform: translateY(0%);
	    
	  }
	}
	
	
	@keyframes sp_box_three_move {
	  from {
	    
	 		transform: translateY(-30px);
	  }
	
	  to {
	    transform: translateY(0%);
	    
	  }
	}
	
	
	
	@keyframes saints_move {
	  from {
	    
	 		transform: translateY(-30px);
	  }
	
	  to {
	    transform: translateY(0%);
	    
	  }
	}
	
	
	@keyframes pdf_button_move {
	  from {
	    
	 		transform: translateY(30px);
	  }
	
	  to {
	    transform: translateY(0px);
	    
	  }
	}
	
	
	@keyframes cr_title_move {
	  from {
	    
	 		transform: translateY(-40px);
	  }
	
	  to {
	    transform: translateY(0px);
	    
	  }
	}
	
	
	
	@keyframes cr_svg_move {
	  from {
	    
	 		transform: translateY(40px);
	  }
	
	  to {
	    transform: translateY(0px);
	    
	  }
	}
	
	
	@keyframes cr_type_move {
	  from {
	    
	 		transform: translateY(40px);
	  }
	
	  to {
	    transform: translateY(0px);
	    
	  }
	}
	
	
	@keyframes read_more_bar_move {
	  from {
	    
	 		transform: translateY(120px);
	 		
	  }
	
	  to {
	    transform: translateY(0px);
	    
	  }
	}
	
	
	@keyframes read_more_title_move {
	  from {
	    
	 		transform: translateY(20px);
	 		
	  }
	
	  to {
	    transform: translateY(0px);
	   
	    
	  }
	}
	
	
	@keyframes prev_button_move {
	  from {
	    
	 		transform: translateX(-20px);
	 		
	  }
	
	  to {
	    transform: translateX(0px);
	   
	    
	  }
	}
	
	
	@keyframes prev_svg_move {
	  from {
	    
	 		transform: translateX(60px);
	 		
	  }
	
	  to {
	    transform: translateX(30px);
	   
	    
	  }
	}
	
	
	@keyframes next_button_move {
	  from {
	    
	 		transform: translateX(20px);
	 		
	  }
	
	  to {
	    transform: translateX(0px);
	   
	    
	  }
	}
	
	
	
	@keyframes next_svg_move {
	  from {
	    
	 		transform: translateX(-60px);
	 		
	  }
	
	  to {
	    transform: translateX(-30px);
	   
	    
	  }
	}
	
	
	

@keyframes comm_svg_move {
	  from {
	    
	 		transform: translateX(100px) rotate(30deg);
	 		
	  }
	
	  to {
	    transform: translateX(0px) rotate(0);
	   
	    
	  }
}



@keyframes comm_logo_move {
	  from {
	    
	 		transform: translateY(-30px);
	 		
	  }
	
	  to {
	    transform: translateX(0px);
	   
	    
	  }
}
	
	
	

@keyframes comm_read_more_move {
	  from {
	    
	 		transform: translateY(30px);
	 		
	  }
	
	  to {
	    transform: translateX(0px);
	   
	    
	  }
}


@keyframes comm_slick_buttons_move {
	  from {
	    
	 		transform: translateX(70px);
	 		
	  }
	
	  to {
	    transform: translateX(0px);
	   
	    
	  }
}
	
	
	
	@keyframes about_slideshow {
	  from {
	    
	 		transform: translateY(70px);
	 		
	  }
	
	  to {
	    transform: translateY(0px);
	   
	    
	  }
	
	}
	
	
	
	@keyframes profile_image_move {
	  from {
	    
	 		transform: translateY(110px);
	 		
	  }
	
	  to {
	    transform: translateY(0px);
	   
	    
	  }
	
	}
	
	
	
	@keyframes profile_scale {
	  
		to {
	    transform: scale(1);
	   
	  }
	
	}








		
	
	
	
	
	
	
	
	
	
	
	
	
	