	
	// Keyframes are separate because they need to be outside of media queires in order to work in I.E. 11
	
	
	
	
	@keyframes fade {
	  from {
	    opacity: 0;
	 	}
	
	  to {
	    opacity: 1;
	   }
	}
	
	
	
	
	
	
	
	
	
	@keyframes excerpt_move {
	  from {
	    transform: translateY(0px);
	 	}
	
	  to {
	    transform: translateY(-238px);
	   }
	}
	
	
	
	
	
		
	@keyframes cr_grow {
	  from {
	    height:590px;
	    transform: translateY(0);
	 	}
	
	  to {
	   height:644px;
	   transform: translateY(-27px);
	  }
	}